*{
    margin: 0px;
    padding: 4px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.msg {
    color: brown;
    font-size: 18px;
}

.form {
    display: flex;
    min-height: 97vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 189, 175);
}

.form form {
    background-color: rgba(145, 118, 189, 0.836);
    text-align: center;
    box-shadow: 14px 14px 20px rgba(71, 71, 71);
    border-radius: 20px;
    padding: 2rem;
    width: 28rem;
}

.form form h1 {
    margin-bottom: 1rem;
}

.form form p {
    padding: 9px 22px;
    font-size: 15px;
}

.form form button {
    width: 44%;
    margin-top: 10px;
    background-color: #432ec9f1;
    color: white;
    font-size: 20px;
}

.form form p {
    font-size: 15px;
    margin-top: 8px;
}

.form-group {
    font-size: 20px;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); 
    position: relative;
    overflow: hidden;
    width: 768px;
    max-height: 100%;
    min-height: 480%;
}


nav {
    background-color:  rgb(135, 36, 228);
}

nav li {
    display: inline-flex;
}

nav li h1 {
    display: inline-block;
    color:  rgb(224, 174, 105);
    text-decoration: none;
    padding: 10px;
}


