*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color:  rgb(135, 36, 228);
}

nav li {
    display: inline-flex;
}

nav li h1 {
    display: inline-block;
    color:  rgb(224, 174, 105);
    text-decoration: none;
    padding: 10px;
}

.form group-buttons {
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
position: relative;
}

.legenda {
    margin: 0;
    color: black;
    position: absolute;
}
